h1
{
	color: white;
	text-align: center;
}
body
{
	background: url(books.jpg);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;

}
.box
{
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	display: flex;
	color: whitesmoke;
	position: relative;
}
.box1
{
	backdrop-filter: blur(100px);
	width: 350px;
	height: 390px;
	border-radius: 50px;
}
.input-text
{
	margin: 20px 0;
	border-radius: 40px;
}
.input-text input
{
	background-color: navajowhite;
	padding: 18px;
	border-radius: 40px;
	width: 70%;
	color: black;
	font-size: 16px;
	border:none;
}
.btn button
{
	width: 30%;
	border-radius: 40px;
	padding: 18px;	
	background-color: lightblue;
	border: none;
}
.box1 i

{
	position: relative;
	right: 30px;

}
.remember-forgot a
{
		color: greenyellow;
}
.signup a
{
		color: greenyellow;
}
